/****
*
*	CONNEXION PAGE
*
****/

.body {

	background:url('../../../img/background.jpg');
	background-size:cover;
}

/* recover password */

#connexion-link {

	color:#DCA3AE;
}

#connexion-link:hover {

	color:#BB727F;
}

.forgot, .label-auth {

	color:white;
	font-family:'Pavanam';
	font-weight:bold;
}

label {

	width:100%;
}

form {

	width:100%;
}

/** navbar top **/

.navbar {

	z-index:20000;
}

#navbar-connexion {

	padding:10px;
	position:absolute;
	background:transparent;
}

.container-logo {

	display:flex;
}

#logo-img-top {

	height:50px;
	width:45px;
	display:block;
}

/*** authentication form ***/

.connexion-form {

	display:flex;
	justify-content:center;
	align-items:center;
	min-height: 100vh;
}

.connexion-form .container {

	max-width:300px;
}

.connexion {

	max-width:300px;
	margin-bottom:30px;
}

.connect {

	border-radius:20px;
	margin-bottom:20px;
	padding-top:20px;
	padding-bottom:20px;
	background:transparent;
	transition:0.2s;
	border-color:white;
}

.connect:active, .connect:hover {

	border-color:white;
}

.button-connect {

	display:block;
	margin:auto;
}


/****
*
*	LAYOUT
*
****/

/** navbar top **/

.navbar {

	width:100%;
	position:fixed;
	background:#D34D3C;
	background:#C83F2D;
}

.navbar-brand:hover {  

	background:#B63D30;
}

.navbar-link, a.navbar-item {

	color:white;
}

.navbar-link, a.navbar-item:hover {

	background:#B63D30;
	color:white;
}


.titre-logo-top {

	color:white;
	font-size:23px;
	font-weight:500;
	margin-top:20px;
	margin:auto;
	margin-left:10px;
	font-family: 'Love Ya Like A Sister', cursive;
}

.navbar-responsive {

	display:none;
}

.navbar-responsive-child {

	display:none;
}


a.navbar-item {

	font-family:'Boogaloo', sans-serif;
	font-size:20px;
}


/** SIDEBAR LEFT **/

.container-menu-backend {

	min-height: 100vh;
	padding-left:0px;
	padding-right:0px;
 	padding-bottom:0px;
}

.menu-shown {

	background:#2A3140;
	min-height: 100vh;
	position:fixed;
	width:20%;
	padding-top:30px;
	z-index:300;
	overflow:hidden;
	transition:0.5s;
}

.menu-label {

	padding-left:15px;
}

.menu-label:not(:first-child) {

	margin-top:30px;
}

.menu-list a, .label-hidden {

	min-width:350px;

}

.menu-list a {

	color:rgba(255, 255, 255, 0.6);
	padding-left:20px;
}

.menu-span {

	color:rgba(255, 255, 255, 0.6);
	padding-left:30px;
}

.menu-list a:hover {

	background:#353D50;
	color:rgba(255, 255, 255, 1);
}

.active, .active i, .active span {

	background:#353D50;
	color:white;
}

.menu-list a:hover span {

	background:#353D50;
	color:rgba(255, 255, 255, 1);
}

.sub-admin {

	padding-left:80px;
	font-size:14px;
}


/**	CONTENT CONTAINER **/

#backend-container {

	background-color:transparent;
	width:100%;
	text-align:justify;
	display:flex;
	justify-content: space-between;
}

.container-menu-hidden {

	width:20%;
	transition:0.5s;
}

.menu-hidden {

	background:#2A3140;
	min-height: 100vh;
	width:20%;
	padding-top:30px;
	opacity:0;
	z-index:10000;

}

.container-backend-content {

	width:80%;
	transition:0.5s;
	background:#F5F5F5;
	position:relative;
}

/** footer **/

.footer {

	padding-bottom:30px;
	padding-top:30px;
}

.footer p {
	
	font-size:15px;
}

.has-text-centered p {

	text-align: center !important;
}

.logo-bottom {

	display:flex;
	justify-content:space-between;
	width:90px;
	margin:auto;
}

#logo-img-bottom {

	display:block;
	width:35px;
	height:40px;
}

.titre-logo {

	color:#484747;
	font-size:25px;
	font-weight:500;
	margin-top:20px;
	margin:auto;
	margin-left:10px;
	font-family: 'Love Ya Like A Sister', cursive;
}


/**
*
*  PAGINATE 
*
**/

.pagination {

	margin-top:50px;
}


/**
*
*	INDEX MODULE 
*
***/ 

/*** modify layout ***/

.container-content-child {

	display:flex;
	justify-content: center;
	min-height:100vh;
}

table, .is-1 {

	margin-top:20px;
	text-align:center;
}

th a {

	font-family:'Pavanam';
	font-size:18px;
	font-weight:900;
}

.is-new {

	display:block;
	margin:auto;
	margin-top:50px;
	background:#3C883C;
	color:white;
}

.fieldset, p {

	font-family:'Pavanam';
	font-size:18px;
}

.title, a.delete-class.supprimer, .menu-span {

	font-family:'Pavanam';
	font-size:17px;
}

a.delete-class.supprimer {

	font-weight:bold;
}

.button.is-link, 
button, 
.button.is-danger.is-outlined, 
.tabs.is-toggle a, 
label, 
.panel-heading, 
.message-body
{
	font-family:'Acme';
	font-size:17px;
}


/**
*
* MODIFY
*
**/

.container {

	width:100%;
} 

.container-table {

	margin-top:50px;
}

a.delete-class.supprimer {

	color:#EC4C64;
}

a.delete-class.supprimer:hover {

	color:#AD2534;
}

th a {

	color:#2C64C3;
}

th a:hover {

	color:#24477F;
}

.columns, .columns:last-child {

	margin:0px;
}

.tabs ul {

	justify-content:center;
}

.container-form {

	padding-right:30px;
}


/*** error / success message ***/

.container-messages {

	height:100px;
	width:100%;
	display:flex;
}

.message.is-success, .message.is-danger {

	background:none;
}

.container-messages-manage {

	height:100px;
	width:100%;
	display:flex;
	justify-content:center;
}

.message-and-validate {

	display:flex;
}

.hiden-message {

	height:64px;
	margin-bottom:25px;
}

#message-connexion {

	background:rgba(253, 245, 247, 0.5);
}

#message-connexion .message-body {

	color:#111111;
	border:none;
	text-align:center;
}

.recover {

	text-align:center;
}

#message-recover-mail .message-body, #message-recover-code .message-body {

	border:none;
	background:#BA4936;
	color:white;
}

#recover-button-1, #recover-button-2, #recover-button-3 {

	background:#3B873B;
}

#recover-button-3 {

	margin-top:20px;
}

.button:hover, .button:focus {

	color:white;
}

.success-modify, .error-modify {

	margin-left:10%;
	width:60%;
	text-align:center;
}

.success-modify .message-body {

	border:none;
	background:#3C883C;
	
}

.error-modify .message-body {

	border:none;
	background:#BA4936;
	
}

#success-animations .message-body, 
#error-animations .message-body, 
#success-workshops .message-body, 
#error-workshops .message-body,
#success-prejudices .message-body, 
#error-prejudices .message-body,
#success-characters .message-body, 
#error-characters .message-body,
#index-error .message-body,
#index-success .message-body,
#error-update .message-body,
#success-update .message-body,
#show-error .message-body,
#show-success .message-body
{ 
	color:white;
}


/** save button **/

#button-save-all {

	display:flex;
	transition:0.5s;
}


/*** 
*
*	MEDIA SIDEBAR 
*
***/

#menu-media {

	padding:0px;
}

.panel-block {

	color:black;
}

.panel-heading {

	font-weight:bold;
	text-align:center;
}

form .panel:first-child {

	margin-bottom:0px;
}

form .panel:first-child .panel-heading {

	border-bottom:none;
	font-family:'Acme';
	font-size:18px;
}

.container-media-select {

	min-height:350px;
	align-items: center;
	padding:0px;
	border:1px solid rgb(219, 219, 219);
}

#container-button-pictures {

	padding:0px;
	flex-direction:column;
	width:100%;
}

#container-button-pictures div:first-child {

	width:100%;
	text-align:center;
}

#container-button-pictures div:first-child h5 {

	padding:10px;
}

#container-button-pictures .panel {

	display:flex;
	flex-direction:row;
	border-top:1px solid rgb(219, 219, 219);
	width:100%;

}

#container-button-pictures .panel div:first-child {

	width:50%;
	border:none;
}

#container-button-pictures .panel div:nth-child(2) {

	width:50%;
	border-left:1px solid rgb(219, 219, 219);
	padding:10px;
}

.panel:nth-child(2) .panel-block:last-child {

	border-top:1px solid rgb(219, 219, 219);
}


/**	ajax media **/

.animations-child {

	width:100%;
}

#panel-block-child {

	height:300px;
	border:none;
}

#container-input-file { 

	border:0px;
}

.fieldset-input-slider {

	height:350px;
	width:100%;
	position:relative;
}

.fieldset-child {

	height:300px;
	overflow:scroll;
	border:1.4px solid #828282;
}

.container-height {

	padding-bottom:50px;
}

.container-height .panel-block {

	border-left:none;
	border-right:none;
}

.container-height .panel-block div:first-child {

	position:relative;
	width:100%;
}

.div-addfield {

	position:absolute;
	bottom:0;
	width:100%;
	background:#F5F5F5;
	z-index:2000;
	padding-top:10px;
	border-top:1.4px solid #828282;
}

.addfield {

	width:100%;
}


/** input file **/

#upload-main-picture {

	position:absolute;
	width:2px;
	z-index:1;
}

#add-main {

	z-index:1000;
}

.button-slider .add-slider {

	width:80%; 
	z-index:1000;
}

.button-slider .slider-preview {

	position:absolute;
	width:2px;
	opacity:0;
}

.image.is-64 {

	height:91px;
	width:91px;
	overflow:hidden;
}

.image.is-64 .img-preview {

	width: 100%;
	height: 13vh;
	object-fit: cover;
}


/** hidden $posts input **/

.delete-main-input {

	position:absolute;
	opacity:0;
}

.delete-sliders {

	z-index:2000;
}

.delete-slider {

	position:absolute;
	left:0px;
	z-index:1;
	opacity:0;
}

.fa-eye, .fa-eye-slash {

	z-index:200;
	background:#F5F5F5;
}

#published-true, #published-false {

	position:absolute;
	left:20px;
	width:1px;
}


/** video **/

#question-frame {

	cursor:pointer;
}

#sup {

	cursor : pointer;
	color:#EC4C64;
}

/** main picture **/

.card-image {

	overflow:hidden;
}

.image.is-16by9 img {

	width: 100vw;
	object-fit: cover;
}


/** 
* 
*  CHARACTERS MODULE PICTURE 
* 
**/ 

#preview-characters {

	min-height:500px;
	overflow:hidden;
}

#preview-characters img {

	width: 100vw;
	height: 90vh;
	object-fit: cover;
}


/**
* 
* 	MANAGE MODULE
* 
**/ 

.section-admin, .pagination {

	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}

.section-admin {

	padding-top:0px;
}

.admin-submit {

	margin-top:20px;
}

.container-admin {

	min-height:100vh;
}

.container-admin-child {

	min-height:100vh;
	max-width:700px;
	margin:auto;
	margin-top:50px;
}

.button-suppress {

	margin-top:50px;
}

.tabs.is-toggle.button-suppress li:last-child a {

	border-radius:5px;
}

.justify {

	text-align:left;
}


/**
* 
* RECOVER PASSWORD LAYOUT
*
**/ 

.container-forgotten-content {

	width: 100%;
    transition: 0.5s;
    background: #F5F5F5;
    position: relative;
    min-height:100vh;
}

#forgotten-container {

	background-color: transparent;
    width: 100%;
    text-align: justify;
    justify-content: space-between;
}

.section-forgotten {

	min-height:100vh;
	padding:0px;
}

.container-forgotten {

	min-height:100vh;
	display:flex;
	justify-content: center;
	margin-top:0px;
	margin-bottom:0px;
	align-items: center;
}

.container-recover {

	/*margin-top:200px;*/
	min-width:40%;
	margin-top:0px;
	margin-bottom:100px;
}

.container-general-recover {

	min-height:100vh;
	padding-top:0px;
}

.footer-recover {

	position:absolute;
	bottom:0px;width:100%;
}

/***
*
* ERROR
*
***/

.navbar-error {

	position:absolute;
	top:0px;

}

.error-container {

	display:flex;
	justify-content: center;
	align-items: center;
}

.container-error {

	border-bottom:1px solid black;
	height:100vh;
	display:flex;
	justify-content: center;
    align-items: center;
}

.title-error {

	margin-top:50px;
	margin-bottom:50px;
}

.subtitle-error {

	text-align:center;
}

.container-error-child {

	margin-top:50px;
}

.doors {

	max-width:900px;
	margin:auto;
	display:flex;
	justify-content: space-between;
}

.footer-error {

	position:relative;
	padding:0px;
	padding-top:10px;
}




